<div style="margin-left:150px; margin-right:150px">
<% provide(:title, @useradd.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @useradd.name %>
      </h1>
    </section>
  </aside>
</div>

<%= link_to 'Back to login', root_path %>
</div>
